@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
#wrap {
    width: 375px;
    margin: 0 auto;
}
.cf {
    content: '';
    display: block;
    clear: both;
}
/* Header */
.header {
    height: 70px;
    height: 45px;
    padding: 24px 20px 0 20px;
    border-bottom: 1px #ebebeb solid;
}
.header .h1 {
    float: left;
}
.header .h1 a {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.header .menubtn {
    width: 27px;
    cursor: pointer;
    float: right;
    /* background: red; */
}
.header .menubtn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}
.header .menubtn span:nth-child(2) {
    margin: 5px 0;
}
.header .gnb {
    display: none;
}
/* .header .gnb li a {
    display: block;
    font-size: 14px;
} */

/* Main */
main {
    background: #f9fafc;
}
.banner {
    width: 335px;
    height: 441px;
    margin: 20px auto;
    position: relative;
}
.banner:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center url('../image/bannerimg.jpg');
    opacity: 0.9;
}
.banner .bannerContents {
    position: relative;
}
.banner .category {
    width: 107px;
    height: 40px;
    background: #FF565C;
    margin-bottom: 30px;
    position: absolute;
    left: 114px;
    top: 84px;
    z-index: 99;
}
.category .categoryTag {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}
.banner h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    margin-bottom: 24px;
    width: 275px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    position: absolute;
    left: 35px;
    top: 150px;
    z-index: 99;
}
.banner .bannerContents .text {
    display: none;
}
.banner .cardFooter {
    position: absolute;
    left: 50%;
    top: 386px;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
}
.banner .cardFooter .share,
.banner .cardFooter .views,
.banner .cardFooter .comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;
    
}
.banner .cardFooter img {
    margin-right: 10px;
}
.banner .cardFooter p {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
.stories {
    width: 335px;
    height: 602px;
    background: #fff;
    border: 1px solid #f2f3f6;
    margin: 0 auto 20px auto;
}
.stories h4 {
    height: 66px;
    line-height: 66px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    /* padding-top: 34px; */
    padding-left: 26px;
    letter-spacing: 1.5px;
}
.stories .storiesContents {
    /* height: 46px; */
    width: 294px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    color: #1d1f24;
}
.stories .storiesContents .contents01,
.stories .storiesContents .contents02,
.stories .storiesContents .contents03,
.stories .storiesContents .contents04,
.stories .storiesContents .contents05 {
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.stories .storiesContents .rank {
    width: 12px;
    font-family: 'Oswald', serif;
    opacity: 0.16;
    text-align: center;
}
.stories .storiesContents .subject {
    width: 220px;
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.2px;
    line-height: 26px;
}
.stories .storiesContents .line {
    display: block;
    width: 335px;
    height: 1px;
    background: #f2f3f6;
    padding: 0;
    transform: translateX(-20px);
}
.card {
    width: 336px;
    height: 274px;
    margin: 0 auto 20px auto;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.card:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center url('../image/cardimage01.jpg');
    opacity: 0.9;
}
.card .category {
    width: 107px;
    height: 40px;
    line-height: 40px;
    background: #FF565C;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 99;
}
.cardText {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    position: absolute;
    left: 25px;
    z-index: 99;
}
.cardFooter {
    position: absolute;
    left: 25px;
    bottom: 22px;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cardFooter .share,
.cardFooter .views,
.cardFooter .comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;  
}
.cardFooter img {
    margin-right: 10px;
}
.cardFooter p {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
.blog {
    width: 335px;
    height: 498px;
    background: #FF565C;
    margin: 0 auto 20px auto;
}
.blog .h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    text-align: left;
    padding: 36px 24px;
    text-transform: uppercase;
    line-height: 40px;
    word-spacing: -0.38px;
}
.blog p {
    width: 282px;
    padding-left: 24px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 30px;
}
.blog .btn {
    width: 210px;
    height: 60px;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    line-height: 60px;
    margin-left: 24px;
}
.blog .btn a {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: #fff;
}
.footer {
    width: 375px;
    height: 440px;
    margin: 100px auto 8px auto;
    background: #1D1F24;
    padding: 40px 0 0 20px;
}
.footer .footerTop .footerLogo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #F9FAFC;
    opacity: 0.2;
}
.footer .footerTop .copyright {
    font-family: 'Lato', sans-serif;
    line-height: 18px;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 20px;
}
.footer .social .emailSubs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.footer .social .emailSubs input {
    height: 35px;
    border-radius: 0;
    border: none;
}
.footer .social input#email {
    width: 180px;
    padding-left: 15px;
    color: #1D1F24;
}
.footer .social input#email::placeholder {
    opacity: 0.4;
}
.footer .social input#submit {
    width: 120px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.5px;
    background: #FF565C;
    color: #fff;
    text-align: center;
}
.footer .social .sns {
    width: 194px;
    height: 22px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.footer .social .sns p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
    margin-right: 19px;
}
.footer .social .sns .snsList {
    width: 112px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .footerNav {
    height: 135px;
}
.footer .footerNav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.footer .footerNav ul li {
    width: 50%;
    height: 21px;
    line-height: 21px;
    margin-bottom: 17px;
}
.footer .footerNav ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.75px;
}